{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "atom": true
  },
  "rules": {
    "max-len": [2, 120],
    "consistent-return": 0,
    "comma-dangle": [2, "always-multiline"],
    "no-plusplus": 0,
    "no-case-declarations": 0,
    "class-methods-use-this": [2, { "exceptMethods": ["render"] }]
  }
}
